:root {
  font-family: 'Poppins', sans-serif !important;
  --background: #252628;

  --white: #fff;

  --gray-bg-1: #5B5B5B;
  --gray-bg-2: #4C4444;

  --gray-border: #4E4E4E; 

  --grayCalendarFooter: #E0E0E0;

  --date-text: #646570;
}
p, a, button{
  font-size: 1rem
}
*{
  padding: 0;
  margin: 0;
}